//change some of the default colors:
$assertive:                       #e22b49 !default;


// Modals
// -------------------------------

$font-family-sans-serif:		"Open Sans",'-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;

$font-family-light-sans-serif:	'Open Sans','-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
