<!--
	The first screen each visitor enters before being transferred to the Main Screen.
-->

<ion-view id="welcome">
	<ion-nav-buttons side="primary">

	</ion-nav-buttons>
	<div id="background-transparency" style="height: 100%;background-color: rgba(0,0,0,0.3)"></div>
	<ion-pane has-header="false" class="padding center" style="text-align: center" >

			<div id="shorts-icon"></div>
			<div id="shorts-logo">Shorts</div>

			<div id="shorts-slogan" style="position: relative">
					<p> Keep the story going</p>
			</div>

			<div id="shorts-start-reading">
				<button class="button button-light" ng-click="gotoShorts()">
						START HERE
				</button>
				<a id="login-btn" class="" ng-click="login()" ng-hide="isUserLoggedIn()">login</a>
			</div>

			<div id="shorts-intro">
				<p style="font-weight: bold;font-size: 1.2rem;line-height: 1.6rem">Shorts matches you with stories you're most likely to like, fast.</p>

				<p><a ui-sref="about" style="color:#fff	"> Learn More</a></p>
			</div>

			<button class="button button-clear" style="position:fixed;right:0;bottom: 0" ng-click="dbgDeleteUser()">delete user</button>
	</ion-pane>
</ion-view>