<ion-view id="about-shorts" view-title="ABOUT US">

	<ion-nav-bar class="bar-light">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-chevron-left"></i>
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-pane class="center" >
		<ion-content has-header="false" has-footer="true" class="center" >
			<div id="shorts-icon"></div>
			<div id="about-text">
				Shorts helps you find great short stories that you're most likely to like, fast, based on your reading preferences, friends' recommendations and favorite writers.
			</div>
			<div class="about-top"> </div>
			<div id="about-details">
				<div id="shorts-logo">Shorts</div>
				<div>
					<iframe width="90%" height="315" src="https://www.youtube.com/embed/4neGNQhbwew?autoplay=0"></iframe>
				</div>
				<div style="color:white;font-weight: bold;font-family: 'Domine';font-size: 1.2em;margin-bottom: 20px">What Is Shorts?</div>
				<div id="about-text-details">
					Shotrt is a social player of short stories, which allows you to create a personal collection of your favorite stories, writers and recommendations
				</div>
				<div class="text-center social-icons" style="color:#fff">
				 	<a href=""><i class="icon ion-social-pinterest" ></i></a>
				 	<a href=""><i class="icon ion-social-snapchat"></i></a>
					<a href=""><i class="icon ion-social-linkedin"></i></a>
					<a href=""><i class="icon ion-social-instagram"></i></a>
					<a href="https://www.facebook.com/search/top/?q=read%20shorts%20heb"><i class="icon ion-social-facebook"></i></a>
				</div>
				<div style="color:#fff;padding:20px 0px;font-size: 0.9em	">
					<span ui-sref="terms">Terms</span> |
					<span>Privacy</span> |
					<span>Conditions</span> |
					<span ui-sref="contact-us">Contact</span>
				</div>
				<div id="copyright" class="text-center">
					Copyright Short LTD, Tel-Aviv-Jaffa, Israel (C) 2016
					<div>Designed By Alona. R.</div>
				</div>
			</div>
		</ion-content>
	</ion-pane>
</ion-view>