<ion-view id="terms-view" view-title="Terms">
	<ion-nav-bar class="bar-light">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-chevron-left"></i>
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-pane>
		<ion-content style="padding: 7%;font-size: 1.2em;line-height: 1.2em;direction: rtl;">
		<p style="text-align: center;font-weight: bold;font-size: 1.3em;">תנאי השימוש והפרטיות | Shorts</p>
		<p style="text-align: center;font-weight: bold;text-decoration: underline;">תנאים מקדימים</p>

‎		<p> בכך שאתה משתמש באתר או באפליקציה של שורטס ("שורטס" או "האפליקציה" או "האתר") אתה מקבל על עצמך את תנאי הסכם זה ("ההסכם").	</p>

		<p>אם אינך מסכים לקבל על עצמך את ההסכם, הנך מתבקש שלא להוריד את האפליקציה ולא להשתמש בה ו/או באתר. </p>
		<p>שורטס שומרת לעצמה את הזכות לשנות את ההסכם בעתיד, ובכך שהנך ממשיך להשתמש בשורטס אתה מסכים לשינויים ולעדכונים אלו. שורטס תודיע על שינויים אלו במייל, לפי המייל שציינת ברישום או בהודעה באפליקציה/ באתר. במידה והחלטת שלא להירשם לאתר (באמצעות כתובת דואר אלקטרוני), לא תהיה באפשרותנו ליידע על שינויים אלה, ובאחריותך להתעדכן מדי פעם על מנת לבחון את התנאים המפורטים להלן.</p>
		<p>על הסכם זה יחול הדין הישראלי בלבד. </p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">זכויות שימוש</p>
		
		<p>אתה מסכים להשתמש בשירות על בסיס "כמו שהוא", וללא זכות לטעון או לדרוש אחרת משורטס.</p>
		
		<p>השימוש בשורטס הינו על אחריותך בלבד.  בשום מקרה שורטס לא תהיה אחראית על נזקים ישירים, עקיפים, תוצאתיים, עונשיים או כל נזק אחר.  בכל מקרה גבול האחריות של שורטס כלפיך יהיה מוגבל לסכום אותו שילמת לשורטס בגין השירות.</p>
		
		<p>בכפוף להסכם זה, שורטס נותנת לך זכות שימוש באפליקציה/ אתר, שאינה ניתנת להעברה או הסבה, וללא זכות לתת רישיון לאחר לעשות שימוש באפליקציה/באתר. כמו כן, אסורה הפצה, שכפול או העתקה של התכנה או כל חלק מתוך האפליקציה/ האתר ו/או התוכן באתר ובאפליקציה ללא אישור מראש ובכתב של שורטס. כן ניתן לשתף תכנים אשר מופיעים בהם אמצעי שיתוף מקובלים במדיה החברתית, ויש לדאוג לשתף אותם עם קרדיט מלא לאתר וליוצר/ים של התוכן בעמוד/ים שהחלטת לשתף בו/בהם.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">תנאי שירות</p>
		
		<p>שורטס אינה מתחייבת שהשירות יינתן ללא שגיאות תכנה או יהיה באיכות מסוימת או יתאים לציפיותיך. שורטס רשאית בכל עת להפסיק את מתן השירות וזאת אף ללא הודעה. במקרה של החלטת שורטס להפסקת השירות באופן קבוע, שורטס תיתן על כך הודעה בת 30 יום למשתמשיה.</p>

		<p>חלקים מסוימים משורטס עשויים להיות מוצעים תחת תנאי רישיון של "קוד פתוח". ייתכנו חלקים בתנאי רישיונות הקוד הפתוח שיגברו על תנאי הסכם זה, ובשימוש בשורטס הינך מסכים לכך ומודע לכך. למידע נוסף בדבר "קוד פתוח" ראה: http://opensource.org/licenses/mit-license.html.</p>

		<p>בהסכימך לתנאי השימוש הנך מסכים לכך שיתכן ויהיו באתר/ באפליקציה תכנים פרסומיים.</p>

		<p>שורטס רשאית על פי שיקול דעתה הבלעדי להתנות שירותים מסויימים בתשלום וכן להתנות שימוש באתר ו/או באפליקציה ברישום.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">קריאה וסינון תכנים</p>
		
		<p>קריאת התכנים בשורטס היא על אחריות המשתמשים בלבד. משתמשים רשומים יכולים להתאים את התכנים שיוצגו להם בהתאם לגילם ולהעדפות הקריאה שלהם, אך משתמשים לא רשומים או לא מזוהים לא יוכלו להתאים את התכנים ולא נוכל להיות אחראיים לתכנים שאינם מתאימים לתפישות עולמך. ההמלצה הכללית, כל עוד נרשמת באתר באמצעות כתובת מייל או אמצעי זיהוי אחר, היא שהכניסה לאתר/לאפליקציה היא מגיל 18 ומעלה.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">מדיניות כלפי ילדים</p>
		
		<p>השירותים והתכנים שלנו מוצעים לילדים מגיל 13 ומעלה. לא ניתן להירשם לאתר מתחת לגיל זה. אם נגלה חיבור של ילד (גולש/קורא) מתחת לגיל זה, ננקוט במעשים למחיקת חשבונו ומחיקת המידע שהועלה על ידו.  במידה ונרשמת לאתר, תוכל לבקש שיוצגו לך תכנים המתאימים לגילך. </p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">העלאת תכנים</p>
		
		<p>שורטס מאפשרת למשתמשים באתר/באפליקציה להעלות תכנים שונים באמצעות הפרופיל שלהם במערכת, ביניהם: פרטים אישיים, תכנים מומלצים, הודעות, משוב לסיפורים ועוד. הנך אחראי לכל תוכן שהנך מעלה או מפיץ באמצעות שורטס.</p>
		
		<p>הנך מתחייב לפרסם פרטים נכונים ואותנטיים לגבי זהותך ולגבי התכנים השונים שמתפרסמים על-ידך.</p>

		<p>הנך מסכים שלא להעלות תכנים שהם לא חוקיים, פוגעניים, מאיימים, פורנוגרפיים או שמפרים זכויות קניין רוחני של צד ג' או תכנים המפרים הוראות הסכם זה. לשורטס שיקול דעת בלעדי בהחלטה האם התוכן ראוי להיות מועלה לאפליקציה/ לאתר או להיות מוסר ממנה/ו ולא תהיינה לך שום טענה ו/ או דרישה כלפי שורטס בגין הסרת תוכן על ידה.</p>

		<p>אינך מורשה להשתמש בשורטס לכל פעילות שאינה חוקית או לכל מטרה שאינה מורשית על פי הסכם זה. בשימושך בשורטס אסור לך להפר כל חוק ובכלל זה חוקים הנוגעים לקניין רוחני מכל סוג שהוא. במקרה שתפר חוקים כאמור, ושורטס תתבע עקב כך או ייגרם לה נזק מכך, הנך מתחייב לשפות את שורטס על כל נזק או תביעה כאמור.</p>

		<p>שורטס רשאית לבטל את חשבונך בכל עת, לפי שיקול דעתה הבלעדי.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">זכויות יוצרים</p>
		
		<p>חלקים משורטס עשויים להכיל זכויות יוצרים או קניין רוחני של צדדים שלישיים, כגון: זכויות יוצרים של היוצרים ביצירותיהם וכיו"ב. הנך מתחייב שלא להפר זכויות יוצרים של צדדים שלישיים אלו. זכויות המשתמש על פי הסכם זה אינן ניתנות להעברה או הסבה ללא אישור שורטס מראש ובכתב.</p>

		<p>שורטס לא מחזיקה בזכויות היוצרים של הטקסטים המפורסמים אצלה, ולכן מחוייבים כל המשתמשים באתר/באפליקציה לשמור על זכויותיהם הבלעדיות של היוצרים.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">שיתוף תכנים</p>

		<p>אנשים משתמשים בשירותים שלנו כדי להתחבר ולשתף עם אחרים. אנו מאפשרים זאת על ידי שיתוף המידע שלך באמצעות יצירת פרופיל משתמש אשר יכלול פרטים אישיים שתחליט לחשוף ותכנים ששיתפת, שאהבת, שהמלצת ו/או שהיית באינטראקציה לגביה. אנחנו מאפשרים לקוראים להכיר חברים נוספים שיש להם את אותן העדפות קריאה כמו שלהם. אנחנו נחשוף בפני משתמשים אחרים את תמונת הפרופיל, השם ואת העדפות הקריאה שבחרת לשתף בפומבי. בכל מקרה, תוכל להגדיר זאת אחרת ולמנוע ממשתמשים רנדומליים את הגישה לפרופיל או לכל מידע שמוצג בו.</p>

		<p>במקרים מסוימים, אנשים שאתה משתף ומקיים תקשורת עמם עשויים להוריד תוכן זה או לשתף אותו מחדש עם אנשים אחרים, בשירותים שלנו ומחוץ להם.</p>

		<p>יצויין כי רוב התקשורת בין הגולשים/הקוראים היא על בסיס המידע והפעולות שאתם עושים אתה יכול לראות לאילו אנשים יש את אותן העדפות קריאה כמו שלך, להיכנס לפרופיל שלהם כדי לראות אילו תכנים הם שיתפו ולבקש לעקוב אחריהם. כשמישהו עוקב אחר קורא, הוא יכול לראות ב"פיד"(FEED) נפרד את ההמלצות שלו (את מה שהוא משתף). במידה ושני הצדדים עוקבים האחד אחרי השני הם גם יכולים לשלוח הודעות האחד לשני ולהתכתב. במקרה כזה, שורטס אינה אחראית לגביה תוכן אשר ישותף או יועתק לפלטפורמות אחרות באמצעות שיתוף מסך וכיו"ב.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">התנהגות בפלטפורמה</p>
		<p>המשתמשים באפליקציה/באתר מתחייבים לכבד האחד את השני באופן התבטאותם ובמידע שהם מפרסמים. </p>

		<p>חופש הביטוי הוא מאבני היסוד של האתר, אך כך גם השמירה על חוקי מדינת ישראל. לפיכך, הנך מנוע מלפרסם באתר את התכנים הבאים: תכנים בעלי אופי מיני בוטה, מאיימים, גזעניים, מוציאי לשון הרע, מעודדים לביצוע הסתה, עבירות, פליליות או אזרחיות, פוגעים בפרטיות, מזיקים, פוגעים ברגשות הציבור ותכנים אשר מהווים הפרה כלשהי של החוק; תכנים בעלי אופי מסחרי ו/או המכילים מידע פרסומי כלשהו; תכנים אשר זכויות הקניין הרוחני בהם אינן שייכות לך; תכנים אשר מכילים וירוסי מחשב מכל סוג שהוא; תכנים אשר אינם רלוונטיים לפורום בו הנך נמצא. </p>

		<p>לא ניתן לפנות לגולש באופן פרטי לאחר שאותו גולש ביקש לעצור את ההתקשרות עימו מכל סיבה שהיא.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">פרטיות</p>
		<p><b>איסוף מידע</b></p>
		
		<p>אנו יכולים לספק את השירותים שלנו, להתאים אישית תוכן ולהציע לך הצעות על ידי שימוש במידע זה כדי להבין מה התכנים שאתה מתעניין בהם, בשירותים שלנו ומחוץ להם.</p>

		<p>אנו אוספים תוכן ומידע נוסף שאתה מספק כשאתה משתמש בשירותים שלנו, כולל כשאתה נרשם לחשבון, יוצר או משתף, ושולח הודעות או מקיים תקשורת עם אחרים. מידע זה יכול לכלול מידע בתוכן שאתה מספק או אודותיו. אנו אוספים גם מידע אודות השימוש שלך בשירותים שלנו, כגון סוגי התוכן שאתה צופה בהם או מקיים עמם אינטראקציה, או התדירות ומשך הזמן של הפעילויות שלך.</p>

		<p>בעת השימוש באתר/באפליקציה יכול שיצטבר מידע אודותיך. אנחנו שומרים את פרטיך אשר אתה מספק בעת הרישום לפלטפורמה, ונתונים כלליים, לרבות: כתובת האינטרנט (IP) שממנה פנית, מיקום גיאוגרפי (Geo-location), סוג הדפדפן בו הינך עושה שימוש, מערכת ההפעלה וסוג מכשיר הקצה בו הינך משתמש, מספר זיהוי של מכשיר הקצה (Device ID), ועוד. כמו כן, אנחנו אוספים מידע על הפעולות שלך בפלטפורמה, לרבות: תכנים שצפית בהם, שאהבת לקרוא, ששיתפת, שהגבת להם וששמרת בפרופיל האישי שלך, מידע או פרסומות שהתעניינת בהם, העמודים שבהם ביקרת, ההצעות והשירותים שעניינו אותך. </p>

		<p>אנו משתמשים בקובצי Cookie ובטכנולוגיות דומות כדי לספק ולתמוך בשירותים שלנו ובכל אחד מהשימושים המוזכרים ומתוארים בסעיף זה של המדיניות שלנו. המערכת  משתמשת ב-Cookies ("עוגיות") לצורך תפעולם השוטף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתרים, לאימות פרטים, כדי להתאים את האתר להעדפותיך האישיות ולצרכי אבטחת מידע. Cookies הן קבצי טקסט, שהדפדפן שלך יוצר לפי פקודה. חלק מה- Cookies יפקעו כאשר תסגור את המערכת ואחרות נשמרות על גבי הכונן הקשיח במחשבים שלך.</p>

		<p>שורטס תשמור את המידע במאגר על מנת להציע לך תכנים, שירותים ומידע שיכול לעניין אותך בפלטפורמה (סיפורים, פרסומות, פיצ'רים בפיתוח וכיו"ב). אנו עושים כל מאמץ כדי ליצור חוויות מושכות ומותאמות אישית עבור הקוראים. אנו משתמשים בכל המידע העומד לרשותנו כדי לספק את השירותים שלנו ולתמוך בהם וכן להציג לך תכנים שמתאימים לך. </p>

		<p>אנו מאחסנים נתונים כל עוד הם נחוצים כדי לספק שירותים לך ולאחרים. המידע המשויך לחשבון שלך יישמר עד למחיקת החשבון. שמירת המידע על ידנו תהיה מוגבלת בזמן לפי שיקול דעתנו.</p>

		<p>בכל מקרה שורטס לא תעביר את המידע שברשותה לגורם שלישי ללא הודעה מראש למשתמשיה הרשומים. </p>

		<p><b>כלי מחקר וסטטיסטיקה</b></p>
		
		<p>שורטס משתמשת גם בכלי מחקר וסטטיסטיקה, דוגמת Google Analytics ו/או דומיו על מנת לאסוף מידע אודות השימוש במערכת כגון תדירות הגלישה , אילו עמודים נצפו על-ידי הגולש, באילו אתרים אחרים ביקרו הגולשים קודם לשימוש באתר. מטרת השימוש במידע שנאסף הינה שימור ושיפור האתר והשירותים הניתנים בו. האפשרות של Google לעשות שימוש ולשתף מידע שנאסף על ידי Google Analytics אודות גולשי האתר כפוף לתנאי השימוש של Google Analytics הזמינים בכתובת http://www.google.com/analytics/terms/us.htmlומדיניות הפרטיות של Google הזמינה בכתובת http://www.google.com/policies/privacy/.</p>

		<p><b>אימות פרטים</b></p>
		
		<p>אנו משתמשים  במנגנון אימות משתמשים באמצעות כתובת דואר אלקטרוני ו/או חשבונות מדיה חברתית, דוגמת "פייסבוק". בהתחברות באמצעות המדיה החברתית נוכל לקבל פרטים פומביים שלך ולהגדיר את החשבון שלך בשורטס, ובכל מקרה הדבר ייעשה אך ורק לאחר שאישרת זאת בפלטפורמה שהתחברת דרכה.</p>

		<p>אנו משתמשים במידע העומד לרשותנו כדי לעזור לאמת חשבונות ופעילות ולקדם בטיחות ואבטחה בשירותים שלנו ומחוץ להם, למשל על ידי חקירת פעילות חשודה או הפרות של התנאים והמדיניות שלנו.</p>

		<p style="text-align: center;font-weight: bold;text-decoration: underline;">בעלות ודרישות משפטיות</p>
		
		<p>במקרה של שינוי בבעלות או בשליטה, באופן מלא או חלקי בשורטס, אנו עשויים להעביר את המידע שלך לבעלים החדשים.</p>

		<p>אנו עשויים לגשת אל המידע שלך, לשמור אותו ולשתף אותו כמענה לבקשה משפטית (כגון צו חיפוש, צו בית משפט או הזמנה לדין), ובלבד שנאמין שהחוק מחייב אותנו לעשות זאת.</p>

		<p><b>מחיקת חשבון</b></p>
		
		<p>הנך רשאי לבטל ולמחוק את חשבונך והפרופיל האישי בכל עת במשלוח הודעת אימייל לכתובת: contact@shorts.com</p>
		
		<p>בעשותך כן, שורטס תמחק את כל נתוני חשבונך, כולל כל המידע שהיה בו, כגון: סיפורים, תמונות, תגובות, שיחות, הודעות, עדכוני פרופיל וכיו"ב.</p>

		<p style="text-align: center;text-decoration: underline;">דרכים ליצירת קשר</p>
		<p style="text-align: center">אתה  מוזמן להפנות שאלות אלינו לכתובת המייל הבאה:</p>
		<p style="text-align: center">Contact@readshorts.com</p>





		</ion-content>

	</ion-pane>

</ion-view>